body {
	background: url('http://127.0.0.1/JFLO/6mill/application/views/assets/images/AREA.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center
}
.container {
	width: 90%;
	opacity: .96
}

table {
	cursor: default;
	font-size: 12px;
}
td {
	padding: 10px 0;
}

.modal {
	width: 80%
}
div.modal-content > div.container {
	margin: auto;
}
.card-image { padding: 10px }
li {
	overflow: auto;
}
.bold { font-weight: bold; }

.headpdf { display: none; }
.card-content {
	font-size: 13px
}

/*ul > li {
	padding-left: 10px;
	list-style-type: circle;
}*/

@media print {
	body, html {
		background: white;
	}
	.container { opacity: 1 }
	div.asd, div.navbar-fixed, .func, .material-tooltip {
		display: none;
	}
	.headpdf { display: block; }
	.card {
		box-shadow: 0 0 0 0 , 0 0 0 0 , 0 0 0 0;
		padding: 0;
	}
	div.bold > span {
		font-size: 15px
	}
	.container { width: 100% }
	table {
		font-size: 10px;
	}
}